.row
  .col-sm-6
    %h2 Resend unlock instructions

    = form_for resource, :url => unlock_path(resource_name), :html => { :method => :post } do |f|
      = render "shared/error_messages", :object => f.object

      .form-inputs
        .form-group
          = f.text_field :login, :required => true, :autofocus => true

      .form-actions
        .form-group
          = f.submit "Resend unlock instructions", :class => "btn btn-primary"
    
    = render "devise/shared/links"
